body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

html {
		height: 100vh;
}

head {
		height: 100vh;
}

#root {
		height: 100vh;
}



.left {
		height: 95vh !important;
		min-height: 95vh !important;
		max-height: 95vh !important;
}



.right {
		height: 95vh;
}

.center{
		height: 95vh;
}


.fullGrid{
		height: 95vh !important;
}

.inner{
		position: absolute;
}
